<header>
  <a href="/"><img src="{{site.url}}/img/logo.svg" alt="logo" class="logo"></a>
  <input type="checkbox" id="navbar-check">
  <label for="navbar-check" class="navbar-label-open"><i class="fas fa-bars fa-fw"></i></label>
  <label for="navbar-check" class="navbar-label-close"><i class="fas fa-times fa-fw"></i></label>
  <nav class="site-top-nav">
    <ul class="site-top-nav-list">
      <li><a href="{{site.url}}">TOP</a></li>
      <li><a href="{{site.url}}#aboutme">ABOUT</a></li>
      <li><a href="{{site.url}}#Works">WORKS</a></li>
      <li><a href="{{site.url}}/blog">BLOG</a></li>
    </ul>
  </nav>
</header>
