body{
  margin: 0;
}
.section{
  margin: 2px 0;
  padding: 16px 12vw;
}

.project{
  background-color: #fff;
  display: inline-block;
  border: solid 2px #e8e8e8;
  padding: 8px;
  border-radius: 8px;
  width: 240px;
  margin-right: 12px;
}
.project>img{
  width: 240px;
  border-radius: 4px;
}
