@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');

body{
  margin: 0;
  font-family: "Noto Sans JP";
  color: #555;
}
.section{
  padding: 5vh 16px;
  margin: auto;
  max-width: 780px;
  min-height: 30vh;
}
.cover{
  background-image: url("/img/cover.png");
  background-size: cover;
  height: 60vh;
  text-align: center;
  position: relative;
}
.cover>h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #ff4d8c;
}
.sns a{
  color: #fff;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 8px;
  border: solid 2px #fff;
  margin:12px 4px;
  display: inline-block;
  text-decoration: none;
}
.sns p{
  margin: 0;
  display: inline;
}
.sns a:hover{
  color:#31bccc;
  background-color:#fff;
  transition:.3s;
}

.project{
  background-color: #fff;
  display: inline-block;
  border: solid 2px #e8e8e8;
  padding: 8px;
  border-radius: 8px;
  margin: 6px;
  color: #555;
}
.project>img{
  width: 240px;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
}
.project:hover{
  box-shadow:0px 5px 14px -6px #c7c7c7;
  transition: .3s;
  border-color: #31bccc;
}

#about{
  background-color: #31bccc;
  color: #fff;
}

h2{
  border-bottom: solid 4px #31bccc;
}

.post_text p{
  margin: 0;
  color:#888;
}
.post_text h3{
  margin: 0;
}
.post{
  display: table;
  margin-bottom: 8px;
  border-bottom: solid 1px #aaa;
  padding: 8px;
  width: calc(100% - 26px);
  text-align: left;
}
.post_text{
  display: table-cell;
  vertical-align: middle;
  width: 80%;
}
.blog_thumnail{
  width: 120px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 12px;
}
#Blog a{
  text-decoration: none;
  color: #333;
}

footer{
  background-color: #c6c6c6;
  padding: 4vw 12vw;
  text-align: center;
  color:#fff;
}
footer>a{
  color: #fff;
}

.section>h1{
  text-align: center;
  padding: 12px;
  border-bottom: solid 4px #31bccc;
}
.date{
  font-size: 18px;
  color: #aaa;
}

.thumbnail{
  width: 100%;
}

header{
  background-color: #fafafa;
  padding: 12px 24px;
  border-bottom: solid 4px #ff4d8c;
}
.logo{
  height: 6vh;
}
@media screen and (max-width:382px) {
  .sns p{
    display: none;
  }
  .project{
    width: calc(100% - 32px);
  }
  .project img{
    width: 100%;
  }
}
