---
---

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Raleway:400,800&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/nikukyu.css');
$main-textcolor: #393c5d;
$maincolor: #31bccc;
$purple: #8D6AFF;
$pink: #ff4d8c;
$light-gray: #bed4e6;

body{
  margin: 0;
  font-family: 'Raleway', 'Noto Sans JP', sans-serif;
  color: $main-textcolor;
}
a{
  &:link{
    color: #3658b1;
  }
  &:visited{
    color: $purple;
  }
}
section{
  padding: 5vh 16px;
  margin: auto;
  max-width: 780px;
  min-height: 30vh;
  clear: both;
  overflow: auto;
}
.cover{
  //background-image: url("/img/cover.png");
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
}
.cover>h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: $pink;
  font-family: 'Raleway';
  text-shadow:3px 3px 0 #FFF, -3px -3px 0 #FFF,
              -3px 3px 0 #FFF, 3px -3px 0 #FFF,
              0px 3px 0 #FFF,  0-3px 0 #FFF,
              -3px 0 0 #FFF, 3px 0 0 #FFF;
}
.cover a{
  text-decoration: none;
}
.cover-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.sns a{
  color: inherit;
  font-size: 24px;
  padding: 6px;
  margin:0 12px;
  display: inline-block;
  text-decoration: none;
  &:hover{
    color:$maincolor;
    background-color:#fff;
    transition:.3s;
  }
}
.sns p{
  margin: 0;
  display: inline;
}

.top-img{
  height: 80px;
}

.page-not-found{
  margin: 12vh auto;
  max-width: 780px;
  padding: 24px;
}
.page-not-found-a{
  background-color: $maincolor;
  border-radius: 24px;
  /*box-shadow: #ccc 0 1px 12px 2px;*/
  color: #fff;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
}
.page-not-found-img{
  float: left;
  margin: 2vh 6vw;
  width: 240px;
}
.page-not-found::after{
  content: "";
  display: block;
  clear: both;
}
.page-not-found-h{
  color: $pink;
  font-size: 6em;
}
.page-not-found-p{
  padding-bottom: 24px;
}
.project{
  border-radius: 4px;
  background-color: #fff;
  box-shadow:0px 5px 16px #e0eded;
  display: block;
  margin: 18px 12px;
  float: left;
  position: relative;
  text-decoration: none;
  width: calc(50% - (12px * 2));
  transition: .3s;
  &> img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }
}
.prj-dsc{
  transition: 0.3s;
  padding: 0 24px 24px 24px;
  box-sizing: border-box;
  h3{
    color: $main-textcolor;
    margin: .8em 0;
  }
}
.project:hover{
  box-shadow:0px 5px 30px #9ebcc8;
  transition: .3s;
  border-color: $maincolor;
   > .prj-dsc{
     opacity: 1;
   }
}
@media screen and (max-width:800px) {
  .project{
    height: auto;
  }
}

#about{
  background-color: $maincolor;
  color: #fff;
}
.top-h2{
  text-align: center;
  font-family: 'Raleway';
  letter-spacing: .3em;
  color: $main-textcolor;
  &::after{
    content: '';
    background-color: $maincolor;
    width: 120px;
    height: 4px;
    display: block;
    margin: 24px auto;
  }
}

.content img{
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 4px;
}

.post_text p{
  margin: 0;
  color:$maincolor;
}
.post_text h3{
  font-weight: 500;
  margin: 0;
}
.post{
  border-radius: 8px;
  border: solid 4px #FFF;
  display: table;
  margin-bottom: 4px;
  padding: 16px;
  width: calc(100% - 26px);
  text-align: left;
  transition: .3s;
}
.post:hover{
  transition:.3s;
  border: solid 4px #FFBF58;
}
.post_text{
  display: table-cell;
  vertical-align: middle;
  width: 80%;
}
.blog_thumnail{
  width: 120px;
  height: 70px;
  object-fit: cover;
  display: table-cell;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 12px;
}
#Blog a{
  text-decoration: none;
  color: $main-textcolor;
}

footer{
  background-color: $main-textcolor;
  padding: 4vw 12vw;
  text-align: center;
  color:#fff;
}
footer>a{
  color: #fff !important;
}

.section>h1{
  text-align: center;
  padding: 12px;
  border-bottom: solid 4px $maincolor;
}
.date{
  font-size: 18px;
  color: #aaa;
  margin: 8px 0;
}


header{
  background-color: #fafafa;
  //padding: 12px 24px;
  position: relative;
  border-radius: 36px;
  width: 78vw;
  margin: 0 auto;
  height: 72px;
  line-height: 72px;
  > a{
    display: block;
    float: left;
  }
  label{
    position: absolute;
    display: none;
    color: $main-textcolor;
    font-size: 24px;
    right: 4vw;
  }
}
.logo{
  height: 36px;
  vertical-align: middle;
  margin-left: 4vw;
}
.site-top-nav{
  position: absolute;
  top:0;
  right: 4vw;
}
.site-top-nav-list{
  margin: 0;
  padding: 0;
  li{
    display: inline;
    font-family: 'Raleway';
    font-weight: bold;
    padding: 12px;
    letter-spacing: .2em;
  }
  li a{
    text-decoration: none;
    color: $main-textcolor;
    transition: .3s;
  }
  li a:hover{
    color: $maincolor;
    transition: .3s;
  }
}
#navbar-check{
  display: none;
}
.navbar-label-close{
  display: none;
}

.post-head{
  padding: 36px 11% 24px;
  background-color: $maincolor;
  color: #fff;
  text-align: center;
  h2{
    margin-top: 3em;
  }
}

@media screen and (max-width:800px) {
  header{
    width: 100vw;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    label{
      display: inline-block;
    }
  }
  .site-top-nav{
    opacity: 0;
    clear: both;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    width: 100vw;
    right: 0;
    position: static;
    transition: .3s;
  }
  #navbar-check:checked ~ .site-top-nav{
    opacity: 1;
  }
  #navbar-check:checked ~ .navbar-label-close{
    display: block;
  }
  #navbar-check:checked ~ .navbar-label-open{
    display: none;
  }
  .site-top-nav-list{
    li{
      display: block;
      line-height: 36px;
    }
  }

  .page-not-found{
    text-align: center;
  }
  .page-not-found-img{
    float: none;
  }
  .project{
    width: calc(100% - (6px * 2));
    img{
      width: 100%;
    }
  }

}
@media screen and (max-width:382px) {
  .sns p{
    display: none;
  }
}

.arrow{
  position: absolute;
  top: -14vh;
  animation: huwahuwa 1s ease-in-out infinite alternate;
  color: $pink;
  font-family: 'Gugi', cursive;
}
@keyframes huwahuwa {
  0% { transform:translateX( 5px) translateY(-5px); }
100% { transform:translateX(  -5px) translateY(5px); }
}

.tag{
  background-color: $maincolor;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2px;
  margin: 2px;
}

.neko{
  width: 120px;
  position: relative;
  z-index: -10;
  left: calc(80vw - 120px);
  animation: hyoko 6s ease-in-out infinite alternate;
  top: 100px;
  user-select: none;
}
.neko-anime{
  cursor: pointer;
}
@keyframes hyoko {
  0% { transform:translateY(5px); }
 30% { transform:translateY(-70px) rotateZ(5deg);}
 60% { transform:translateY(-70px) rotateZ(-5deg);}
100% { transform:translateY(5px); }
}
footer{
  position: relative;
}
.hukidashi{
  position: absolute;
  left: calc(80vw - 200px);
  border-radius: 40px;
  border: solid 2px #ccc;
  padding: 12px;
  animation: howa 2s ease-in-out both;
  font-family: "Nikukyu";
  color: $pink;
}
@keyframes howa {
  0%{ opacity: 1;transform:translateY(40px);}
  100%{ opacity: 0; transform:translateY(-20px);}
}

.iframe{
  height:auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}
.iframe-wrapper{
  position: relative;
  width: 100%;
}
.iframe-wrapper:before {
    content:"";
    display: block;
    padding-top: 83%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
}

.prs-dsc{
  color: #fff;
  opacity: 0;
  background-color: rgba(34, 34, 34, 0.5);
  position: absolute;
  bottom: 0;
  padding: 12px;
  width: calc(100% - 24px);
  transition: .6s;
  border-radius: 0 0 4px 4px;
}
.prs{
text-decoration: none;
  margin: 4px;
  float: left;
  border-radius: 4px;
  display: block;
  height: 180px;
  position: relative;
  width: calc(33% - 8px);
  &:hover > .prs-dsc{
    opacity: 1;
  }
}

@media screen and (max-width:800px) {
  .prs{
    width: 100%;
    height: auto;
  }

  .prs-dsc{
    color: $main-textcolor;
    opacity: 1;
    position: static;
    width: auto;
    height: auto;
    background-color: inherit;
    padding: 0;
    margin-bottom: 36px;
    h3{
      margin: 8px 0;
    }
  }
}

.prs-img{
  height: 100%;
}
.prs-img img{
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.achi{
  li{
    line-height: 2.4em;
  }
  a{
    text-align: right;
  }
}
.achi-title{
  background-color: $maincolor;
  border-radius: 4px;
  color: #fff;
  padding: 4px 8px;
  margin-left: 4px;
}

.shiba-img, .thumbnail{
  width: 100%;
}
.content{
  line-height: 2em;
  letter-spacing: .05em;
}
.post-content{
  max-width: 620px;
  overflow: visible;
  h2{
    margin-top: 2em;
  }
  iframe{
    width: 100%;
  }
}

.work{
  background-color: #fff;
  float: left;
  margin: 2%;
  padding: 3%;
  text-align: center;
  width: calc(33% - 4% - 6%);
  h3{
    font-size: .9em;
    margin: 4px 0;
  }
  img{
    height: 16vh;
    max-width: 100%;
  }
}

.me{
  width: 120px;
  display: block;
  margin: 24px;
  float: left;
}
.aboutme-text{
  line-height: 1.8em;
  i{
    color: $light-gray;
  }
}
@media screen and (max-width:800px) {
  .me{
    float: none;
    margin: auto;
  }
  .aboutme-text h3{
    text-align: center;
  }
}

.cheek{
  animation: cheek 1.2s ease-in-out infinite alternate;
}
@keyframes cheek {
  0%{ transform:translateY(4px);}
  100%{ transform:translateY(-4px);}
}

.eyes{
  animation: eyes 3s ease-in infinite alternate;
}
@keyframes eyes {
  0% { visibility: visible; z-index: 100; }
  15% { visibility: visible; z-index: 100; }
  90% { visibility: hidden; z-index: 0; }
  100% { visibility: hidden; z-index: 0; }
}

#Articles{
  li{
    margin-top: 16px;
  }
}

.share{
  text-align: right;
  a{
    border-radius: 8px;
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;
  }
  .share-twitter{
    background-color: #1DA1F2;
  }
  .share-facebook{
    background-color: #3B5998;
  }
}
.blue{
  background-color: $maincolor;
}
#profile{
  color: #fff;
  h3{
    margin-bottom: 2px;
  }
  .sns a{
    border-radius: 24px;
  }
  @media screen and (max-width:800px) {
    text-align: center;
  }
}
.profile-img{
  width: 120px;
  border-radius: 60px;
  float: left;
  margin-right: 20px;
  @media screen and (max-width:800px) {
    float: none;
    margin: 0;
  }
}

.flex{
  display: flex;
  flex-wrap: wrap;
}
