@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');

body{
  margin: 0;
  font-family: "notosansjapanese";
}
.section{
  padding: 16px;
  margin: 2px auto;
  max-width: 780px;
}
.cover{
  background-image: url("/img/cover.png");
  background-size: cover;
  height: 400px;
  text-align: center;
  position: relative;
}
.cover>h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #ff4d8c;
}

.project{
  background-color: #fff;
  display: inline-block;
  border: solid 2px #e8e8e8;
  padding: 8px;
  border-radius: 8px;
  width: 240px;
  margin-right: 12px;
}
.project>img{
  width: 240px;
  border-radius: 4px;
}

#about{
  background-color: #31bccc;
  color: #fff;
}

h2{
  border-bottom: solid 4px #31bccc;
}

.post>p{
  margin: 0;
  color:#888;
}
.post>h3{
  margin: 0;
}

footer{
  background-color: #c6c6c6;
  padding: 4vw 12vw;
  text-align: center;
  color:#fff;
}
footer>a{
  color: #fff;
}

.section>h1{
  text-align: center;
  padding: 12px;
  border-bottom: solid 4px #31bccc;
}
.date{
  font-size: 18px;
  color: #aaa;
}

.thumbnail{
  width: 100%;
}
