body{
  margin: 0;
}
.section{
  margin: 2px 0;
  padding: 16px 12vw;
}

.project{
  background-color: #fff;
  display: inline-block;
  border: solid 2px #e8e8e8;
  padding: 8px;
  border-radius: 8px;
  width: 240px;
  margin-right: 12px;
}
.project>img{
  width: 240px;
  border-radius: 4px;
}

h2{
  border-bottom: solid 4px #31bccc;
}

.post>p{
  margin: 0;
  color:#888;
}
.post>h3{
  margin: 0;
}

footer{
  background-color: #c6c6c6;
  padding: 4vw 12vw;
  text-align: center;
  color:#fff;
}
footer>a{
  color: #fff;
}
