---
---

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Baloo|M+PLUS+Rounded+1c:400,500,700,800&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/nikukyu.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

body{
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #555;
}
a{
  &:link{
    color: #3658b1;
  }
  &:visited{
    color: #8D6AFF;
  }
}
section{
  padding: 5vh 16px;
  margin: auto;
  max-width: 780px;
  min-height: 30vh;
  clear: both;
  overflow: auto;
}
.cover{
  //background-image: url("/img/cover.png");
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
}
.cover>h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #ff4d8c;
  font-family: 'Raleway';
  text-shadow:3px 3px 0 #FFF, -3px -3px 0 #FFF,
              -3px 3px 0 #FFF, 3px -3px 0 #FFF,
              0px 3px 0 #FFF,  0-3px 0 #FFF,
              -3px 0 0 #FFF, 3px 0 0 #FFF;
}
.cover a{
  text-decoration: none;
}
.cover-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.sns a{
  color: inherit;
  font-size: 24px;
  padding: 6px;
  margin:0 12px;
  display: inline-block;
  text-decoration: none;
  &:hover{
    color:#31bccc;
    background-color:#fff;
    transition:.3s;
  }
}
.sns p{
  margin: 0;
  display: inline;
}

.top-img{
  height: 80px;
}

.page-not-found{
  font-family: 'baloo', cursive;
  margin: 12vh auto;
  max-width: 780px;
  padding: 24px;
}
.page-not-found-a{
  background-color: #31bccc;
  border-radius: 24px;
  /*box-shadow: #ccc 0 1px 12px 2px;*/
  color: #fff;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
}
.page-not-found-img{
  float: left;
  margin: 2vh 6vw;
  width: 240px;
}
.page-not-found::after{
  content: "";
  display: block;
  clear: both;
}
.page-not-found-h{
  color: #ff4d8c;
  font-size: 6em;
}
.page-not-found-p{
  padding-bottom: 24px;
}
.project{
  background-color: #fff;
  display: block;
  margin: 6px;
  color: #555;
  float: left;
  position: relative;
  width: calc(50% - (6px * 2));
  height: 200px;
}
.project>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.prj-dsc{
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  opacity: 0;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background-color: rgba(88, 88, 88, 0.6);
  transition: 0.3s;
  h3{
    color: #fff;
  }
}
.project:hover{
  box-shadow:0px 5px 14px -6px #c7c7c7;
  transition: .3s;
  border-color: #31bccc;
   > .prj-dsc{
     opacity: 1;
   }
}
@media screen and (max-width:800px) {
  .prj-dsc{
    opacity: 1;
    position: static;
    width: auto;
    height: auto;
    background-color: inherit;
    padding: 0;
    margin-bottom: 36px;
    h3{
      color: inherit;
      margin: 8px 0;
    }
  }
  .thumbnail{
    height: 200px;
  }
  .project{
    height: auto;
  }
}

#about{
  background-color: #31bccc;
  color: #fff;
}
.top-h2{
  text-align: center;
  font-family: 'Raleway';
  letter-spacing: .3em;
  color: #393c5d;
  &::after{
    content: '';
    background-color: #31bccc;
    width: 120px;
    height: 4px;
    display: block;
    margin: 24px auto;
  }
}

.content img{
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 4px;
}

.post_text p{
  margin: 0;
  color:#888;
}
.post_text h3{
  font-weight: 500;
  margin: 0;
}
.post{
  border-radius: 8px;
  border: solid 4px #FFF;
  display: table;
  margin-bottom: 4px;
  padding: 16px;
  width: calc(100% - 26px);
  text-align: left;
  transition: .3s;
}
.post:hover{
  transition:.3s;
  border: solid 4px #FFBF58;
}
.post_text{
  display: table-cell;
  vertical-align: middle;
  width: 80%;
}
.blog_thumnail{
  width: 120px;
  height: 70px;
  object-fit: cover;
  display: table-cell;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 12px;
}
#Blog a{
  text-decoration: none;
  color: #333;
}

footer{
  background-color: #c6c6c6;
  padding: 4vw 12vw;
  text-align: center;
  color:#fff;
}
footer>a{
  color: #fff;
}

.section>h1{
  text-align: center;
  padding: 12px;
  border-bottom: solid 4px #31bccc;
}
.date{
  font-size: 18px;
  color: #aaa;
}


header{
  background-color: #fafafa;
  padding: 12px 24px;
  border-bottom: solid 4px #ff4d8c;
}
.logo{
  height: 6vh;
}
@media screen and (max-width:800px) {
  .page-not-found{
    text-align: center;
  }
  .page-not-found-img{
    float: none;
  }
  .project{
    width: calc(100% - (6px * 2));
    img{
      width: 100%;
    }
  }

}
@media screen and (max-width:382px) {
  .sns p{
    display: none;
  }
}

.arrow{
  position: absolute;
  top: -14vh;
  animation: huwahuwa 1s ease-in-out infinite alternate;
  color: #ff4d8c;
  font-family: 'Gugi', cursive;
}
@keyframes huwahuwa {
  0% { transform:translateX( 5px) translateY(-5px); }
100% { transform:translateX(  -5px) translateY(5px); }
}

.tag{
  display: inline;
  background-color: #FF6AA9;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2px;
}

.neko{
  width: 120px;
  position: relative;
  z-index: -10;
  left: calc(80vw - 120px);
  animation: hyoko 6s ease-in-out infinite alternate;
  top: 100px;
  user-select: none;
}
.neko-anime{
  cursor: pointer;
}
@keyframes hyoko {
  0% { transform:translateY(5px); }
 30% { transform:translateY(-70px) rotateZ(5deg);}
 60% { transform:translateY(-70px) rotateZ(-5deg);}
100% { transform:translateY(5px); }
}
footer{
  position: relative;
}
.hukidashi{
  position: absolute;
  left: calc(80vw - 200px);
  border-radius: 40px;
  border: solid 2px #ccc;
  padding: 12px;
  animation: howa 2s ease-in-out both;
  font-family: "Nikukyu";
  color: #ff4d8c;
}
@keyframes howa {
  0%{ opacity: 1;transform:translateY(40px);}
  100%{ opacity: 0; transform:translateY(-20px);}
}

.iframe{
  height:auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}
.iframe-wrapper{
  position: relative;
  width: 100%;
}
.iframe-wrapper:before {
    content:"";
    display: block;
    padding-top: 83%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
}

.prs-dsc{
  color: #fff;
  opacity: 0;
  background-color: rgba(34, 34, 34, 0.5);
  position: absolute;
  bottom: 0;
  padding: 12px;
  width: calc(100% - 24px);
  transition: .6s;
  border-radius: 0 0 4px 4px;
}
.prs{
text-decoration: none;
  margin: 4px;
  float: left;
  border-radius: 4px;
  display: block;
  height: 180px;
  position: relative;
  width: calc(33% - 8px);
  &:hover > .prs-dsc{
    opacity: 1;
  }
}

@media screen and (max-width:800px) {
  .prs{
    width: 100%;
    height: auto;
  }

  .prs-dsc{
    color: #393c5d;
    opacity: 1;
    position: static;
    width: auto;
    height: auto;
    background-color: inherit;
    padding: 0;
    margin-bottom: 36px;
    h3{
      margin: 8px 0;
    }
  }
}

.prs-img{
  height: 100%;
}
.prs-img img{
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.achi{
  li{
    line-height: 2.4em;
  }
  a{
    text-align: right;
  }
}
.achi-title{
  background-color: #8D6AFF;
  border-radius: 4px;
  color: #fff;
  padding: 4px 8px;
  margin-left: 4px;
}

.shiba-img, .thumbnail{
  width: 100%;
}
.content{
  line-height: 2em;
  letter-spacing: .05em;
}
.post-content{
  width: 620px;
}

.work{
  background-color: #fff;
  float: left;
  margin: 2%;
  padding: 3%;
  text-align: center;
  width: calc(33% - 4% - 6%);
  h3{
    font-size: .9em;
    margin: 4px 0;
  }
  img{
    height: 16vh;
    max-width: 100%;
  }
}

.me{
  width: 120px;
  display: block;
  margin: 24px;
  float: left;
}
.aboutme-text{
  line-height: 1.8em;
  i{
    color: #bed4e6;
  }
}
@media screen and (max-width:800px) {
  .me{
    float: none;
    margin: auto;
  }
  .aboutme-text h3{
    text-align: center;
  }
}

.cheek{
  animation: cheek 1.2s ease-in-out infinite alternate;
}
@keyframes cheek {
  0%{ transform:translateY(4px);}
  100%{ transform:translateY(-4px);}
}

.eyes{
  animation: eyes 3s ease-in infinite alternate;
}
@keyframes eyes {
  0% { visibility: visible; z-index: 100; }
  15% { visibility: visible; z-index: 100; }
  90% { visibility: hidden; z-index: 0; }
  100% { visibility: hidden; z-index: 0; }
}

#Articles{
  li{
    margin-top: 16px;
  }
}
