<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{{ site.title }} | {{page.title}}</title>
<link rel="stylesheet" href="{{site.github.url}}/assets/css/main.css" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" type="image/jpg" href="/img/icon.jpg" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@YukiMihashi" />
<meta property="og:url" content="{{site.github.url}}{{page.url}}" />
{% if page.title %}
<meta property="og:title" content="{{page.title}}" />
{% else %}
<meta property="og:title" content="{{site.title}}" />
{% endif %}

{% if page.thumbnail %}
<meta property="og:image" content="{{site.github.url}}/{{page.thumbnail}}" />
{% else %}
<meta property="og:image" content="{{site.github.url}}/img/cover.png" />
{% endif %}

<meta property="fb:admins" content="100014694420954" />

</head>
<body>
{{content}}
<footer>©2019 Yuki Mihashi<br><a href="https://github.com/yuki384/yuki384.github.io">GitHub</a></footer>
</body>
</html>
