---
layout: default
---
<div class="post-head">
{% include header.html %}
<h2>{{page.categories}}</h2>
<h1>{{ page.title }}</h1>
</div>
<section class="post-content">
<div class="date">{{ page.date | date:"%Y/%-m/%d" }}</div>
{% if page.thumbnail %}
<img src="{{site.url}}/img/{{page.categories}}/{{page.thumbnail}}" alt="" class="thumbnail">
{% endif %}
<div class='content'>
  {{ content }}
</div>
<div class="share">
  <a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}&text={{page.title}}&via=yukimihashi&related=yukimihashi" class="share-twitter"><i class="fab fa-twitter-square"></i> Tweet</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" class="share-facebook"><i class="fab fa-facebook-square"></i> シェア</a>
</div>
</section>
<div class="blue">
<section id="profile">
  <h2>About Me</h2>
  <img src="{{site.url}}/img/icon.jpg" alt="" class="profile-img">
  <h3>三橋 優希 (みはし ゆうき)</h3>
  <span>Web Designer</span>
  <p>プログラミング教室の講師、Scratchの書籍執筆や、Webサイト制作、Unityによるデジタルアート制作エンジニアなどをしています。</p>
  <div class="sns">
    <a href="https://twitter.com/{{site.twitter_username}}"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/yukimihashi/"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/{{site.github_username}}"><i class="fab fa-github"></i></a>
    <a href="https://scratch.mit.edu/users/yuki384/"><i class="fas fa-cat"></i></a>
  </div>
</section>
</div>
